body {
  font-family: 'Niconne', cursive;
  width: 95%;
  margin: 0 auto;
  background-image: url('../images/stone-background.jpg');
  background-size: cover;
  color: #D4AF37;
}

.left {
  border: 1px solid brown;
  width: 20%;
  float: left;
  padding: .25em;
  font-size: 1.2em;
}

button {
  font-family: 'UnifrakturCook', cursive;
  width: 50%;
  font-size: 1em;
  margin: .125em .25em;
  border-style: none;
  color: #DCDCDC;
  border-image: url("../images/wood2.jpg");
  border-image-width: 3px;
  padding: 2px;
}

button.inactive {
  /*background-color: rgba(150,150,150,.5)*/
}

#play {
  width: 95%;
  font-size: 2em;
  margin: .125em;
  background-image: url("../images/wood2.jpg");
}

#players {
  background-image: url("../images/wood1.jpg");
}

#difficulty {
  background-image: url("../images/wood1.jpg");
}

.right {
  font-size: 2em;
  border: 1px solid brown;
  width: 20%;
  float: right;
  padding: 1em;
}

.clear {
  clear: both;
}

.game-board {
  position: relative;
  border: 1px solid purple;
  text-align: center;
}

.game-board div {
  display: inline-block;
  width: 8.5%;
  margin: 0 .25%;
  vertical-align: middle;
}

.game-board div.boss {
  position: absolute;
  top: -58%;
  width: 88%;
  margin: 0;
  border: 1px dashed green;
  z-index: -1;
}

#boss {
  width: 60%;
}

#mid-separator {
  width: 50%;
}

#side-separator {
  width: 5%;
}

img.card {
  max-width: 100%;
  background-color: white;
}

.hide {
  display: none;
}

.game-board div.hero-blue {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  border: 1px solid blue;
  width: 30%;
  text-align: left;
  z-index: -1;
}

.hero-blue img {
  width: 60%;
  -webkit-transform: rotateY(60deg);
  -webkit-transform: rotate(5deg);
  -o-transform: rotateY(60deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotateY(60deg);
  -ms-transform: rotate(5deg);
  -moz-transform: rotateY(60deg);
  -moz-transform: rotate(5deg);
  transform: rotateY(60deg);
  transform: rotate(5deg);
  margin-left: -2.5em;
}

.game-board div.hero-red {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  border: 1px solid red;
  width: 30%;
  text-align: right;
  z-index: -1;
}

.hero-red img {
  width: 45%;
}

footer {
  font-size: .8em;
  margin: .5em 0;
}