body {
  font-family: 'Niconne', cursive;
  width: 83%;
  margin: 0 auto;
  background-image: url('../images/stone-background.jpg');
  background-size: cover;
  color: #D4AF37;
}

.left {
  width: 20%;
  float: left;
  padding: .25em;
  font-size: 1.2em;
}

button {
  font-family: 'UnifrakturCook', cursive;
  width: 50%;
  font-size: .8em;
  margin: .125em .25em;
  border-style: none;
  color: #DCDCDC;
  border-image: url("../images/wood2.jpg");
  border-image-width: 3px;
}

.inactive {
  opacity: .5;
}

#play {
  width: 95%;
  font-size: 1.5em;
  margin: .125em;
  background-image: url("../images/wood2.jpg");
}

#players {
  background-image: url("../images/wood1.jpg");
}

#difficulty {
  background-image: url("../images/wood1.jpg");
}

.right {
  font-size: 1.5em;
  width: 20%;
  float: right;
  padding: .25em;
}

.high-scores {
  font-size: 1em;
  line-height: 1em;
}

.clear {
  clear: both;
}

.game-board {
  position: relative;
  margin-top: 1%;
  text-align: center;
}

.game-board div {
  display: inline-block;
  width: 8.5%;
  margin: 0 .25%;
  vertical-align: middle;
}

.game-board div.boss {
  position: absolute;
  top: -58%;
  width: 88%;
  margin: 0;
  z-index: -2;
  color: #DCDCDC;
  font-family: 'UnifrakturCook', cursive;
  font-size: 2em;
}

#boss {
  width: 60%;
  border: 7px solid rgba(200,200,200,.7);
}

#mid-separator {
  width: 50%;
}

#side-separator {
  width: 5%;
}

img.card {
  max-width: 100%;
  position: relative;
}

.hide {
  display: none;
}

.game-board div.hero-blue {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 30%;
  text-align: left;
  z-index: -1;
  font-size: 1.5em;
}

.hero-blue img.hero {
  width: 42%;
  -webkit-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  transform: rotate(3deg);
  margin-right: .5em;
  margin-left: -1.5em;
}

.game-board div.hero-red {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 30%;
  text-align: right;
  z-index: -1;
  font-size: 1.5em;
}

.hero-red img.hero {
  width: 54%;
  margin-left: 1em;
  margin-right: -1em;
}

.attack {
  width: 90%;
}

.game-board div.hero-block {
  margin: 0;
  width: 40%;
  display: inline-block;
}

footer {
  font-size: .8em;
  margin: .5em 0;
}