body {
  max-width: 900px;
  margin: 0 auto;
}

.game-board {
  width: 460px;
  background-color: #cfcffc;
}

.game-board div {
  display: inline-block;
}

img {
  width: 110px;
  height: 150px;
}

.hide {
  display: none;
}

/*do this stuff*/